<h4>Formulario TemplateDriven</h4>
<form>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" name="nombre"
      [(ngModel)]="contacto.nombre">
      <small id="helpId" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input type="text" class="form-control" id="apellidos" name="apellidos"
        [(ngModel)]="contacto.apellidos">
        <small id="helpId" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="email">Correo</label>
      <input type="email" class="form-control" id="email" name="email"
      [(ngModel)]="contacto.email">
      <small id="emailHelpId" class="form-text text-muted"></small>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" id="isOk" name="isOk"
        [(ngModel)]="contacto.isOk">
        Ests de acuerdo con ....
      </label>
    </div>
    <fieldset >
      <legend>Datos del curso</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" id="tm" 
          name="turno" value="Mañana">
          Mañana
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" id="tt" 
          name="turno" value="Tarde">
          Tarde
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" id="tn" 
          name="turno" value="Noche">
          Noche
        </label>
      </div>
      <div class="form-group">
        <label for="curso">Selecciona el tema</label>
        <select class="form-control" id="curso" name="curso">
          <option value="ng001">Angular</option>
          <option value="re001">React</option>
          <option value="nd001">NodeJS</option>
        </select>
      </div>
    </fieldset>
  </form>
  <div>
    {{ contacto | json }}
  </div>
